body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgb(243, 119, 57) 0%,
    rgba(255, 223, 191, 1) 25%,
    rgba(255, 227, 199, 1) 50%,
    rgba(255, 223, 191, 1) 75%,
    rgb(243, 119, 57) 100%
  );
}

.myForms {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.btn-orange {
  background-color: rgb(255, 128, 0);
  color: white;
}

.rounded-t-5 {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

@media (min-width: 992px) {
  .rounded-tr-lg-0 {
    border-top-right-radius: 0;
  }

  .rounded-bl-lg-5 {
    border-bottom-left-radius: 0.5rem;
  }
}
.cascading-right {
  margin-right: -50px;
}

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}
